/*color variables */

$white:#fff;
$black:#000;


$text-color:#252B33;
$blue:#005896;
$border-color:#D7D5D5;
$orange:#EA7024;
$green:#A9CA3F;
$gray:#F6F6F6;
$gray-primary:#EEEEEE;
$footer-text:#4A4A4A;
$owerlly_color:rgba(0, 0, 0,0.7);