.container {
  @include rem-fallback(max-width,1280);;
  @include rem-fallback(padding,0,20)
}
.container-fluid{
  @include rem-fallback(padding,0,20) 
}
ol,
ul {
  @include rem-fallback(margin,0);
  @include rem-fallback(padding,0);
  list-style: none;
}
body{
  color: $text-color;
  font-weight: 300;
}
a,
img,
span,
i {
  display: inline-block;
}

a {
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}
h1{
  @include rem-fallback(font-size,40);
  font-weight: 600;
  @include rem-fallback(margin-bottom,20);
  @include bp(smd-max ){
    @include rem-fallback(font-size,33);
    @include rem-fallback(margin-bottom,10);
  }
  @include bp(xs-max){
    @include rem-fallback(font-size,22);
  }
}
h2{
  @include rem-fallback(font-size,40);
  font-weight:400;
  text-align: center;
  @include bp(smd-max ){
    @include rem-fallback(font-size,33);
  }
  @include bp(xs-max){
    @include rem-fallback(font-size,22);
  }
}
h3{
  @include rem-fallback(font-size,30);
  @include rem-fallback(margin-bottom,11);
  font-weight: 700;
  @include bp(smd-max ){
    @include rem-fallback(font-size,25);
    @include rem-fallback(margin-bottom,10);
  }
  @include bp(xs-max){
    @include rem-fallback(font-size,20);
  }
}
h4{
  @include rem-fallback(font-size,24);
  @include rem-fallback(margin-bottom,20);
  @include bp(smd-max ){
    @include rem-fallback(font-size,20);
    @include rem-fallback(margin-bottom,10);
  }
  @include bp(xs-max){
    @include rem-fallback(font-size,16);
  }
}
h5{
  @include rem-fallback(font-size,22);
  @include rem-fallback(margin-bottom,15);
  color: $blue;
  @include bp(smd-max ){
    @include rem-fallback(font-size,18);
    @include rem-fallback(margin-bottom,10);
  }
  @include bp(xs-max){
    @include rem-fallback(font-size,15);
  }
}
h6{
  @include rem-fallback(font-size,20);
  
}
p{
  @include bp(smlg-max){
    @include rem-fallback(margin-bottom,8)
  }
}